/*---------------------------------
  colors
---------------------------------*/
$gray1: #000;
$gray2: #c0c0c0;
$gray3: #0f1222;
$red1: #ed3d47;

$background: #fff;
$main: #ff0000;
$sub: #FFE5E5;
$effect: #f40800;

$link: #3b7aff;

$error: #ed3d47;
$warning: #ffcc00;