@import '~@/assets/css/colors';

/*---------------------------------
  iPad base layouts
---------------------------------*/
*, *:before, *:after {
  box-sizing: border-box
}

 html {
  font-size: 62.5%; /* -> root 10px; */
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  line-height: 1.5;
  word-spacing: 0;
  letter-spacing: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  touch-action: none;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  color: $gray1;
  line-height: 1.5;
  font-size: 1.4em;
  background: $background;
  margin: 0;
}

#app {
  width: 100vw;
    height: 100vh;
}

h1 {
  font-size: 2.4rem;
  font-weight: normal;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
}
h3 {
  font-size: 1.8rem;
  font-weight: normal;
}
p {
  font-size: 1.2rem;
  font-feature-settings: 'palt';
  pointer-events: none;
}

a {
  color: $link;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
  user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
}

// iPadコンテンツ用コンテナ
.i-container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: $background;
}

// override iScroll
.iScrollVerticalScrollbar {
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.iScrollVerticalScrollbar .iScrollIndicator {
  width: 100%;
}
/* styled scrollbars */
.iScrollVerticalScrollbar {
  width: 8px;
  top: 2px;
  right: 0px;
  bottom: 2px;
  background-color: #f4f3f3;
  border-radius: 0px;
}
.iScrollIndicator {
  position: absolute;
  background: #dddddd;
  border: 3px solid #dddddd;
  border-radius: 0px;
  box-sizing: border-box;
}

 /** ONC系のカラーパレット */
.KLC {
  color: rgb(108, 192, 74);
  border-color: rgb(108, 192, 74);
  background-color: rgb(250, 245, 222);
}

.LYO {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(248, 146, 44);
}

.KLEEC {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(248, 146, 44);
}

.KTB {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 51, 153);
}

.KHN {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(108, 39, 53);
}

.KML {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(55, 60, 61);
}

.KHL {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
}

.KRC {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(153, 102, 255);
}

.KLERC {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(153, 102, 255);
}

.KUC {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(153, 102, 255);
}

.KES {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(31, 73, 125);
}

.KCR {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(31, 73, 125);
}

.LHC {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(31, 73, 125);
}

.LYNPA {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(31, 73, 125);
}

.KMS {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(49, 133, 156);
}

.KTM {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(49, 133, 156);
}

.PAT {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(132, 170, 223);
}

.KX {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(51, 204, 51);
}