/*---------------------------------
  animation
---------------------------------*/
.fade {
  &-enter-active {
    animation: fade-in .15s;
  }
  &-leave-active {
    animation: fade-out .15s;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.slide {
  &-enter-active,
  &-leave-active {
    transform: translateX(0);
  }
  &-enter-from,
  &-leave-to {
    transform: translateX(100%);
  }
}
